langchain
python-dotenv
ipykernel
langchain_groq
langchain_google_genai
langchain_community
langchain_openai
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
langchain-core[tracing]
pytest
fastapi
uvicorn
python-multipart
docx2txt